.p-header{
    min-height: 45.3rem;
    text-align: center;
    background-image: url('../../images/bg/dark-purple-wave.png');
    color: #ffffff;
    padding: 2rem 0 1rem;
}

.leaf-box{
    position:absolute;
    top: -2rem;
    left: -2rem;
    width: 8rem;
    height: 8rem;
    background-image: url('../../images/leaf-ridged.png');
    background-repeat: no-repeat;
}