.video-player{
    color: white;
    position:relative;
}
.varea{
    color:rgba(200, 200, 200, 0.5);
    position:absolute;
    top: 3rem;
}
.spaced{
    padding: 1rem auto 2rem;
}
.play-button{
    white-space:nowrap;
    color: white;
}